@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

body{
    font-family: 'Qwitcher Grypen', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
}
#hea {
    display: flex;
    justify-content: space-between;
    margin: 7px;
}
.links {
    display: flex;
    align-items: center;
    gap: 2rem;  
}
.links li, a{
    font-size: 2rem;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
    margin: 1rem;
}
.grid-item {
    background-color: #fff;
    text-align: center;
}

.grid-item img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 1s;
}
.grid-item:hover img {
    filter: grayscale(0);
}
.links li:hover, a:hover {
    color: #ffe1a0;
    transition: all .3s;
}
.mimage{
    object-fit: cover;
    width: 50%;
}
@media (max-width: 481px) {
    .mimage{
        width: 400px;
    }
    .grid-item img {
        filter: grayscale(0%);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .links {
        display: none;
    }
    #hea {
        justify-content: center;
        font-size: 2rem;
    }
}
@media (max-width: 786px) {
    .mimage{
        width: 600px;
    }
    .grid-item img {
        filter: grayscale(0%);
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .links {
        display: none;
    }
    #hea {
        justify-content: center;
        font-size: 2rem;
    }
}
@media (max-width: 450px) {
    .mimage{
        width: 380px;
    }
    .grid-item img {
        filter: grayscale(0%);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* for modal */

.modal-design{
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    left:1px;
    right:1px;
    top:1px;
    bottom:1px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    opacity:0;
    transition:all 0.3s;
    background-color:black;
    color:#fff;
    text-align:center;
  }
  
  .modal-design:target{
    visibility:visible;
    opacity:0.99;
    transition:all 0.3s;
  }
  
  .close-modal{
    position:absolute;
    top:0;
    right:0;
    background-color:#002B5B;
    padding:5px 15px;
    color:#fff;
    font-size:18px;
    line-height:28px;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
  }